* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgb(241, 214, 248), rgb(93, 233, 147));
}